<article class="post-card">
  <header class="post-card__header">
    <time class="post-card__date" datetime="{{ post.date | date_to_xmlschema }}">
      {{ post.date | date: "%B %-d, %Y" }}
    </time>
    <h2 class="post-card__title">{{ post.title | escape }}</h2>
  </header>
  {% if post.excerpt %}
    <div class="post-card__excerpt">
      {{ post.excerpt | strip_html }}
    </div>
  {% endif %}
  <a class="post-card__link" href="{{ post.url | relative_url }}">Read more<span class="visually-hidden">: {{ post.title | escape }}</span></a>
  <div class="post-card__more">
    <span class="post-card__button">Read more</span>
  </div>
</article>
