---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post__header">
    <p class="mail__notice">
      What follows is an issue of my newsletter, recreated for you here in website form.
      <a href="https://buttondown.email/{{ site.buttondown_username }}">Subscribe to get future issues via email</a>.
    </p>
    <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: "%-d %B %Y" }}
    </time>
    <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <section class="prose" itemprop="articleBody">
    {{ content }}
  </section>

  <footer class="post__footer">
    <p class="mail__subscribe-cta">
      Get essays like this delivered to your inbox monthly.
      <a href="https://buttondown.email/{{ site.buttondown_username }}">Subscribe to the newsletter</a>.
    </p>

    {% include author-section.html %}

    <nav class="post__navigation">
      <a href="{{ page.url | relative_url }}" class="post__nav-link">Permalink</a>
    </nav>
  </footer>
</article>
